<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeankit.freenotepad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NoteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54af92b729e01c5ebf5265bab6d57558519d61c7" />
    </application>
</manifest>
